.trp {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 30px;

  &__input-label {
    color: $scorpion;
    font-family: Roboto;
    font-size: 16px;
    line-height: 21px;
    align-self: flex-start;
  }

  &__input {
    height: 54px;
    width: 315.84px;
    border: 1px solid $geyser;
    border-radius: 4px;
    background-color: $white;
    color: $scorpion;
    font-family: Roboto;
    font-size: 16px;
    line-height: 21px;
    margin-top: 15px;
    padding: 0px 20px;
  }

  &__buttons {
    margin-top: 39px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__button {
    width: 150px;
    min-width: initial;
  }
}
