.welcome-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 442px;
  padding: 50px 50px;
  color: black;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  box-shadow: 0px 14px 28px rgba(46, 91, 255, 0.06);
  border-radius: 6px;

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    margin-top: 110px;
  }

  &__header {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    margin-bottom: 22px;
    margin-top: 50px;
    text-align: center;
    color: #5C6C7F;
  }

  &__description {
    text-align: center;
    color: #5C6C7F;

    div {
      font-size: 12px;
    }

    @media screen and (max-width: 575px) {
      font-size: .9rem;
    }
  }

  .first-time-flow__button {
    width: 184px;
    font-weight: 500;
    margin-top: 44px;
  }
}
